.button{
      height: 40px;
      width: 100%;
      border: 0;
      border-radius: 8px;
      background-color: var(--orange-700);
      font-weight: bold;
      font-size: 16px;
      color: var(--white);
      transition: all 0.5s;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      &:hover{
            color: #000;
      }
}