
.containerHeader{
      display: flex;
      border-radius: 16px;
      margin: 0 300px;
      max-width: 1200px;
    //  border: 4px solid white;
      justify-content: flex-start;
      min-width: 1280px;
      height: auto;
      flex-direction: column;
      
}

.description{
      display: flex;
      height: 7rem;
      padding: 40px 150px;
      background-color: var(--dark-700);
      color: var(--white);
      border-radius: 16px;
      flex-direction: column;
      align-items: center;
      padding-bottom: 2px;
     // border: 2px solid white;
      
}

.container{
      display: flex;
      justify-content: center;
      min-width: 1280px;
    //  border: 4px solid white;
      min-height: 720px; 
      flex-direction: column;  
      
}

.totalVendido{
      font-size: 24px;
      font-weight: bold;
      margin-bottom: auto;
      
}
.card{
      width: 100%;
      justify-content: space-between ;
    //  border: 2px solid white;
}

.main{
      display: flex;
      flex-direction: row;
      justify-content: flex-start ;
      width: 100%;
      height: 100%;
      
}

.article{
      margin-top: 5rem;
    //  border: 2px solid white;
      width: 100%;
      height: 100%;
      display: grid;
      justify-content: space-between;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto;
      margin-bottom: 5rem;
      

}
.aside{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      margin: 10rem;
}

.rankingProdutos{
      background-color: var(--dark-700);
     
      margin-bottom: 32px;
      border-radius: 16px;
      display: flex;
      color: var(--white);
      //border: 2px solid white;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

     
}

.extrato{
      background-color: var(--dark-700);
      width: 100%;
      margin: 16px 0 16px 16px;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      color: var(--white);
      //border: 2px solid white;

}
.tag{
      width: 16px;
     // background-color: var(--orange-700);
      height: 100%;
      border-radius: 16px 0 0 16px;
      margin-right: 16px;
      position: relative;
      
}

.center{
      background-color: var(--dark-700);
      width: 100%;
      margin: 16px 16px 16px 16px;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      color: var(--white);
      //border: 2px solid white;
}

.rankingProduct {
      margin-left: 0;   
      margin-top: 10px;
      font-weight: bold;
      border-bottom: solid 1.5px gray;
  }

  .descriptionProduct {
      margin-left: 15px;
      margin-bottom: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; /* Distribui os itens com espaçamento entre eles */
      padding: 10px;
      font-size: 15px;
  }
  
  .descriptionProduct p {
      flex: 1; 
  }
  .descriptionProduct p:first-child {
      flex: 2; 
      white-space: nowrap; /* não pula para outra linha */
      overflow: hidden; 
      text-overflow: ellipsis; /* Adiciona reticências (...) quando o texto for muito longo */
  }
  
  
  .descriptionProduct p:nth-child(2) {
      text-align: center; 
      color: var(--orange-700);
  }
  
  .descriptionProduct p:nth-child(3) {
      text-align: right; 
      margin-right: 15px;
  }
  

.noProducts{
      font-weight: bold;
      margin-top: 15px;
      font-size: 20px;
      margin-left: 60px;

}
.ranking{
      display: flex;
      justify-content: center;
      background-color: var(--orange-700);
      font-weight: bold;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
            border-bottom: solid 1.5px gray;
      color: var(--white);
      
}

.atualizar{
      display: flex;
      gap: 16px;
      margin-bottom: 1.5px
      
}

.buttonOrder{
      border-radius: 8px;
      background-color: var(--orange-700);
      font-weight: bold;
      font-size: 16px;
      color: var(--white);
      transition: all 0.2s;
      border: 0;
      padding: 3px;
      
      &:hover{
            color: #000;
      }
}

.image{
      width: 100%;
      height: 50%;
      padding: 1rem;
      border-radius: 10px;
      position: relative;
      object-fit: cover;
      border-style: 2px;
      cursor: pointer;
}

.custom-image {
     
      border-radius: 10px; /* Bordas arredondadas */
      display: block; /* Força o bloco */
      margin: 0 auto; /* Centraliza */
  }

.footerCard{
      display: flex;
      justify-content: space-between;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      margin-bottom: 1.5rem;

}

.productPrice{
      color: var(--orange-700);
      font-weight: bold;
      font-size: 20px;
}

.icon {
      display: flex;
      align-items: center;
      gap: 10px;
    
      svg {
        cursor: pointer;
        color: var(--orange-700);
        transition: color 0.3s ease;
    
        &:hover {
          color: #b19c6e;
        }
      }
    }
.closeOrder{
      width: 100%;
      background-color: #fd8a07;
      font-size: larger;
      color: var(--white);
      height: 4rem;
      display: flex;
      align-items: center;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      justify-content: space-around;
}
    
.continueOrder{
      border: 0;
      border-radius: 8px;
      background-color: var(--white);
      font-weight: bold;
      font-size: 16px;
      color: var(--orange-700);
      transition: all 0.5s;
      width: 35rem;
    height: 3rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem ;
      gap: 16px;
      
      &:hover{
            color: #000;
      }
  }

@media (max-width: 400px) {
      .article{
            margin-left: 4rem;
            grid-template-rows: auto auto;

      }
    }